{deps,[]}.

{pre_hooks, [
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cat src/xxmerl_sax_parser_latin1.erlsrc src/xxmerl_sax_parser_base.erlsrc > src/xxmerl_sax_parser_latin1.erl"},
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cat src/xxmerl_sax_parser_list.erlsrc src/xxmerl_sax_parser_base.erlsrc > src/xxmerl_sax_parser_list.erl"},
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cat src/xxmerl_sax_parser_utf16be.erlsrc src/xxmerl_sax_parser_base.erlsrc > src/xxmerl_sax_parser_utf16be.erl"},
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cat src/xxmerl_sax_parser_utf16le.erlsrc src/xxmerl_sax_parser_base.erlsrc > src/xxmerl_sax_parser_utf16le.erl"},
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cat src/xxmerl_sax_parser_utf8.erlsrc src/xxmerl_sax_parser_base.erlsrc > src/xxmerl_sax_parser_utf8.erl"},
    
    {"win32", compile, "type src\\xxmerl_sax_parser_latin1.erlsrc src\\xxmerl_sax_parser_base.erlsrc > src\\xxmerl_sax_parser_latin1.erl"},
    {"win32", compile, "type src\\xxmerl_sax_parser_list.erlsrc src\\xxmerl_sax_parser_base.erlsrc > src\\xxmerl_sax_parser_list.erl"},
    {"win32", compile, "type src\\xxmerl_sax_parser_utf16be.erlsrc src\\xxmerl_sax_parser_base.erlsrc > src\\xxmerl_sax_parser_utf16be.erl"},
    {"win32", compile, "type src\\xxmerl_sax_parser_utf16le.erlsrc src\\xxmerl_sax_parser_base.erlsrc > src\\xxmerl_sax_parser_utf16le.erl"},
    {"win32", compile, "type src\\xxmerl_sax_parser_utf8.erlsrc src\\xxmerl_sax_parser_base.erlsrc > src\\xxmerl_sax_parser_utf8.erl"}
]}.